<div class="container">
	<div class="login-form">
		<h2 class="form-title">PAYCOM</h2>
		<div class="input-group input-row" [class.has-error]="error.phone">
			<span class="input-group-addon">+{{phonePrefix}}</span>
			<input [disabled]="loading" [(ngModel)]="form.phone" (keyup)="phoneKeyup(pass)" (change)="phoneKeyup(pass)" name="phone" class="form-control phone-mask" placeholder="Номер телефона" required="" autofocus="" type="phone">
		</div>
		<div [hidden]="!phoneExist">
			<div class="input-row" [class.has-error]="error.pass">
				<input (keyup)="passKeyup($event)" [disabled]="loading" #pass [(ngModel)]="form.pass" name="pass" class="form-control" placeholder="Пароль" required="" type="password">
			</div>
			<button [disabled]="loading" (click)="signIn()" class="btn btn-link btn-block" type="submit">Войти</button>
		</div>
	</div>
</div>